* {
  padding: 0;
  margin: 0;
  border: 0;
}

button {
  outline: 0 none;
}

.bg-container {
  background: rgb(70, 131, 185) url("../../resources/Gradient_Full.png")
    repeat-x;
  background-size: contain;
  position: fixed;
  height: 100%;
  width: 100%;
}

.home-container {
  background-color: rgb(233, 233, 233);
  position: absolute;
  display: block;
  left: 50%;
  width: 1020px;
  margin-left: -510px;
  min-height: 100%;
}

.home-container h1 {
  color: rgb(255, 255, 255);
}

.home-container h2 {
  color: rgb(82, 82, 82);
  margin-top: -10px;
}

.home-container li {
  margin-top: -5px;
}

.home-container a {
  display: block;
}

.page-header {
  background: rgb(70, 70, 70) url("../../resources/Gradient_Full.png") repeat-x;
  background-size: contain;
  position: relative;
  width: 100%;
  height: 50px;
}

.page-header h1 {
  position: absolute;
  left: 70px;
}

.log-section {
  position: absolute;
  right: 20px;
  top: 50%;
  height: 20px;
  margin-top: -10px;
}

.menu-button {
  position: absolute;
  left: 5px;
  width: 50px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  background: url("../../resources/MenuButton.png") no-repeat center;
  border-radius: 10px;

  transition: all 0.3s ease;
}

.menu-button:hover,
.menu-button:focus {
  background-color: rgb(99, 99, 99);
}

.menu-button:active {
  background-color: rgb(136, 136, 136);
  transition: 0s;
}

.hidden {
  display: none;
}

.open-menu {
  display: block;
  position: absolute;
  background-color: white;
  top: 100%;
  z-index: 100;
  padding: 10px;
}

.open-menu li {
  font-size: 16pt;
}

.main-body {
  position: relative;
}

.stats-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 60px;
  left: 350px;
  border: 5px rgb(70, 70, 70) solid;
  border-radius: 10px;
  width: 650px;
}

.stats-container .info-container {
  border-width: 3px;
  width: calc(50% - 46px);
}

.info-container {
  margin: 10px;
  padding: 10px;
  position: static;
  border: 5px rgb(70, 70, 70) solid;
  border-radius: 10px;
  width: 300px;
}
.info-container span {
  position: relative;
  display: block;
  height: 180px;
  overflow-y: scroll;
}

.info-container button {
  border: 2px rgb(70, 70, 70) solid;
  border-radius: 10px;
  padding: 2px 20px 2px 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70);
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background: rgb(70, 70, 70);
  border: 4px solid transparent;
  background-clip: content-box;
}
